:root {
    --primary-color: rgb(230, 0, 0);
    /* Red from Guide */
    --primary-grey: rgb(84, 77, 78);
    /* Grey from Guide */
    --primary-blue: rgb(0, 176, 202);
    /* Blue from Guide */
    --secondary-color: #1f2937;
    /* Dark Gray */
    --font-family: 'Inter', sans-serif;
    --border-radius: 8px;
    --background-color: #f3f4f6;
    --text-color: #111827;
}